hr.new5 {
  border: 8px solid #ebaf40;
  border-radius: 5px;
}
div.bo {
  background-color: rgb(244, 227, 235);
}

h4 {
  border-radius: 1cm;
  margin: 1cm;
  background-color: aquamarine;
  padding: 2%;
}
